$icon-font-path: '../fonts/';
$fa-font-path: "../../bower_components/font-awesome/fonts";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@mixin scrollbar() {}

html,
body {
    height: 100%;
    #uiView {
        @extend body;
    }
    ul {
        list-style-type: none;
        padding: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

ul::-webkit-scrollbar {
    width: 3em;
    // height: 2em
}

ul::-webkit-scrollbar-track-piece {
    background: #C6C6C6;
}

ul::-webkit-scrollbar-button {
    background: #F6F6F6;
    height: 2.5em;
}

ul::-webkit-scrollbar-button:vertical:increment {
    background-image: url("../images/decrementArrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

ul::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("../images/incrementArrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

#homePage {
    height: 100%;
    #header {
        display: flex;
        #logo {
            flex: 1;
            img {
                margin-bottom: -10px;
            }
        }
        #banner {
            flex: 2;
            display: flex;
            background-color: #9E1006;
            align-items: flex-end;
            color: white;
            #versionInfo {
                display: flex;
                flex-direction: column;
                height: 50%;
                flex: 1;
                margin-left: 30px;
            }
            #quitter {
                align-items: center;
                display: flex;
                flex-direction: column;
                padding: 5px;
                background-color: #9E1006;
                margin-right: 30px;
                margin-bottom: -7px;
            }
        }
    }
    #body {
        height: 85%;
        margin-top: 10px;
        padding-top: 50px;
        background-image: url("../images/bg.png");
        background-repeat: no-repeat;
        background-position: right top;
        display: flex;
        .comboBox {
            background-image: url("../images/comboArrow.png");
            background-repeat: no-repeat;
            background-position: right top;
            background-color: #ECECEE;
            height: 40px;
            border-radius: 5px;
            width: 100%;
        }
        #listView {
            flex: 1;
            height: 90%;
            margin-right: 5px;
            //format scrollbar
            //  ::-webkit-scrollbar {
            //     width: 3em;
            //     // height: 2em
            // }
            //  ::-webkit-scrollbar-track-piece {
            //     background: #C6C6C6;
            // }
            //  ::-webkit-scrollbar-button {
            //     background: #F6F6F6;
            //     height: 2.5em
            // }
            //  ::-webkit-scrollbar-button:vertical:increment {
            //     background-image: url("../images/decrementArrow.png");
            //     background-repeat: no-repeat;
            //     background-position: center;
            // }
            //  ::-webkit-scrollbar-button:vertical:decrement {
            //     background-image: url("../images/incrementArrow.png");
            //     background-repeat: no-repeat;
            //     background-position: center;
            // }
            ​ p {
                color: #5F5F5F;
                font-size: 22px;
            }
            ul {
                height: 100%;
            }
            .listItems {
                color: #4848FE;
                padding: 5px;
                img {
                    margin-right: 10px;
                }
                p {
                    color: #5F5F5F;
                }
                td.col-xs-1 {
                    padding-right: 0px;
                }
                td.col-xs-7 {
                    padding-left: 0px;
                }
                .info {
                    .name {
                        color: blue;
                        font-weight: bold;
                        margin: 0;
                    }
                    .title {
                        color: #5F5F5F;
                    }
                }
            }
        }
        #webMenu {
            flex: 2;
            padding-top: 15px;
            #copy {
                text-align: -webkit-center;
                .copyContain {
                    width: 40%;
                    p {
                        font-weight: bold;
                    }
                    button {
                        width: 100%;
                        height: 35px;
                    }
                }
            }
            #menus {
                border: 2px solid #5F5F5F;
                border-radius: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 60px;
                margin-bottom: 60px;
                padding-bottom: 10px;
                .menuName {
                    color: #5F5F5F;
                    font-size: 20px;
                    text-align: -webkit-left;
                }
                #menuLeft {
                    flex: 1;
                    padding: 10px;
                }
                #menuRight {
                    flex: 1;
                    padding: 10px;
                    text-align: -webkit-left;
                    input {
                        width: 80%;
                        height: 30px;
                        border-radius: 3px
                    }
                }
            }
        }
    }
    #copyCombo {
        ul {
            width: 100%;
            background: white;
            height: 200px;
        }
        .selectedCopy {
            text-align: left;
            padding: 5px;
            p {
                margin: 0;
                font-size: 13px;
                margin-left: 5px;
            }
            .id {
                margin-bottom: -3px;
            }
            .description {
                margin-top: -3px;
                color: gray;
            }
        }
        .comboItems {
            text-align: left;
            padding-left: 5px;
            border-bottom: 0.2px solid #C6C6C6;
            p {
                margin: 0;
                font-size: 13px;
            }
            .id {
                margin-bottom: -3px;
            }
            .description {
                margin-top: -3px;
                color: gray;
            }
        }
    }
    #rectorCombo {
        ul {
            width: 100%;
            background: white;
            height: 200px;
        }
        .rectorItems {
            text-align: left;
            padding-left: 5px;
            border-bottom: 0.2px solid #C6C6C6;
            display: flex;
            padding-top: 5px;
            img {
                margin-right: 10px;
                height: 30px;
            }
            p {
                margin: 0;
                font-size: 13px;
            }
            .id {
                margin-bottom: -3px;
            }
            .description {
                margin-top: -3px;
                color: gray;
            }
        }
        .rectorselected {
            text-align: left;
            padding-left: 5px;
            display: flex;
            padding-top: 5px;
            img {
                margin-right: 10px;
                height: 30px;
            }
            p {
                margin: 0;
                font-size: 13px;
            }
            .id {
                margin-bottom: -3px;
            }
            .description {
                margin-top: -3px;
                color: gray;
            }
        }
    }
}