<div id="copyCombo" class="dropdown">
    <div class="dropdown-toggle comboBox" data-toggle="dropdown">
        <div class="selectedCopy">
            <p class="id">{{vm.selectedItem.id}}</p>
            <p class="description">{{vm.selectedItem.description}}</p>
        </div>
    </div>

    <ul class="dropdown-menu">
        <li ng-repeat="c in vm.copies" ng-click="vm.selectItem(c)">
            <div class="comboItems">
                <p class="id">{{c.id}}</p>
                <p class="description">{{c.description}}</p>
            </div>
        </li>
    </ul>
</div>
</div>