<div id="rectorCombo" class="dropdown">
    <div class="dropdown-toggle comboBox" data-toggle="dropdown">
        <div class="rectorselected">
            <img ng-src={{vm.selectedItem.image}} alt="rectorImage">
            <div>
                <p class="id">{{vm.selectedItem.id}}</p>
                <p class="description">{{vm.selectedItem.description}}</p>
            </div>
        </div>
    </div>

    <ul class="dropdown-menu">
        <li ng-repeat="cl in vm.colors" ng-click="vm.selectItem(cl)">
            <div class="rectorItems">
                <img ng-src={{cl.image}} alt="rectorImage">
                <div>
                    <p class="id">{{cl.id}}</p>
                    <p class="description">{{cl.description}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>