<div id="homePage">
    <div id="header">
        <div id="logo">
            <img src="../images/logo.png"></img>
        </div>
        <div id="banner">
            <div id="versionInfo">
                <span>Scan & Copy</span>
                <span>Version 1.0</span>
            </div>
            <div id="quitter">
                <span>Quitter</span>
                <img src="../images/quitter.png"></img>
            </div>
        </div>
    </div>
    <div id="body">
        <div id="listView">
            <p>Scanner Vers</p>
            <ul>
                <li>
                    <table class="table table-responsive listItems">
                        <tr ng-repeat="p in vm.person">
                            <td class="col-xs-1"><img ng-src={{p.image}} alt="avatar" /></td>
                            <td class="col-xs-9">
                                {{p.name}}
                                <p>{{p.title}}</p>
                            </td>
                            <td class="col-xs-2">
                                <div class="checkbox" ng-switch on="p.selected" ng-click="vm.selectPerson(p)">
                                    <img ng-switch-when="true" src="../images/checked.png" alt="check" />
                                    <img ng-switch-default src="../images/check.png" alt="uncheck" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div id="webMenu">
            <div id="copy">
                <div class="copyContain">
                    <p>Copies</p>
                    <copy-combo selected-item="vm.selectedCopyItem" />
                </div>
                <div id="menus">
                    <div id="menuLeft">
                        <p class="menuName">Numérisation</p>
                        <retor-combo selected-item="vm.selectedRectorItem" />
                        <p class="menuName">Mode Couleur</p>
                        <color-combo selected-item="vm.selectedColorItem" />
                    </div>
                    <div id="menuRight">
                        <p class="menuName">Résolution</p>
                        <resolution-combo selected-item="vm.selectedResolutionItem" />
                        <p class="menuName">Nom fichier</p>
                        <input type="text" ng-model="vm.nomFicher">
                    </div>
                </div>
                <div class="copyContain">
                    <button type="button" class="btn btn-default" ng-click="vm.updateURL()">Scan</button>
                </div>
            </div>
        </div>
    </div>
</div>